<%# PARAMS: user
%>

<%= render 'bo/shared/errors', :target => user %>

<div class="row">
  <div class="col-md-8">
    <%= form_for [:bo, user], :html => {:class => 'form-horizontal'} do |f| %>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <%= f.label :email, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :email, :class => 'form-control', :autofocus => true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :first_name, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :first_name, :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :last_name, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :last_name, :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :bio, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_area :bio, :class => 'form-control' %>
        </div>
      </div>
      
      <hr />
      
      <div class="form-group">
        <p class="help-block"><%= tview('leave_blank_to_not_update') %></p>
        <%= f.label :password, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.password_field :password, :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.password_field :password_confirmation, :class => 'form-control' %>
        </div>
      </div>
    </form>
    <% end %>
  </div>
</div>
