<%# PARAMS: category
%>
<%= form_for [:bo, category] do |f| %>
  <%= render 'bo/shared/errors', :target => category %>
  
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>