<h1><%= tview('list_of_categories') %></h1>
<%= link_to I18n.tbtn('add_new'), new_bo_category_path %>
<ul>
  <% for category in @categories %>
    <li><p>
      <%= category.name %>, 
      <%= link_to I18n.tbtn('show'), bo_category_path(category) %>
      <%= link_to I18n.tbtn('edit'), edit_bo_category_path(category) %>,
      <%= link_to I18n.tbtn('destroy'), bo_category_path(category), :confirm => I18n.tmsg('are_you_sure'), :method => :delete %>
    </p></li>
  <% end %>
</ul>

<%= will_paginate @categories %>
