<% content_for_header I18n.tmodel(Category), tview('category') %>

<div class="row">
  <div class="col-md-7">
    <%= link_to I18n.tbtn('list_of_categories'), bo_categories_path, :class => 'btn btn-default' %>
  </div>
  <div class="col-md-5 align-right">
    <div class="btn-group">
      <%= link_to edit_bo_category_path(@category), :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
      <%= link_to bo_category_path(@category), :class => 'btn btn-default', :confirm => I18n.tmsg('are_you_sure'), :method => :delete do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt><%= I18n.tattr(Category, :name) %></dt>
      <dd><%= @category.name %></dd>
      <dt><%= I18n.tattr(Category, :description) %></dt>
      <dd><%= @category.description %></dd>
    </dl>
  </div>
</div>

