<%# PARAMS: post
%>

<%= render 'bo/shared/errors', :target => post %>

<%= form_for [:bo, post], :html => {:class => 'form-horizontal'} do |f| %>
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <%= f.label :title, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-5">
            <%= f.text_field :title, :class => 'form-control', :autofocus => true %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :intro_text, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-5">
            <%= f.text_field :intro_text, :class => 'form-control', :autofocus => true %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :featured_image, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.file_field :featured_image, :class => '' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :status, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.select :status, Post.statuses_for_select, {}, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :category_id, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-5">
            <%= f.collection_select :category_id, Category.all, :id, :name, {:include_blank => true}, :class => 'form-control selectize' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :tag_names, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-5">
            <%= f.text_field :tag_names, :class => 'form-control selectize' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :published_at, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-8">
            <%= f.datetime_select :published_at, {}, :class => '' %>
          </div>
        </div>
        
        <div class="form-group">
          <%= f.label :gallery_id, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-5">
            <%= f.collection_select :gallery_id, Gallery.all, :id, :name, {:include_blank => true}, :class => 'form-control selectize' %>
          </div>
        </div>
        
        <div id="post-fullscreen">
          <div class="form-group">
            <%= f.label :body_kd, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-5">
              <ul class="nav nav-pills">
                <li><a href="#post-code" data-toggle="tab">Code</a></li>
                <li><a href="#post-preview" data-toggle="tab">Preview</a></li>
              </ul>
            </div>
          </div>
          
          <div class="tab-content">
            <div class="tab-pane" id="post-code">
              <div class="form-group">
                <div class="col-sm-12">
                  <%= f.text_area :body_kd, :class => 'form-control code' %>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="post-preview">
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="post-preview"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
<% end %>

<script>
$(document).ready(function(){
  //--------
  // don't use 'class="active"' for use callbacks on the first show
  //--------
  
  // --- the callbacks
  $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
    //e.target // activated tab
    //e.relatedTarget // previous tab
    $('#post-preview div.post-preview').html('');
    if( $(e.target).attr('href') == '#post-preview' ){
      var str = $('#post-code textarea').val();
      $.ajax({
        type: "POST",
        url: '<%= bo_ajax_kramdown_to_html_path %>',
        data: {'str' : str },
        success: function(data, textStatus, jqXHR){
          $('#post-preview div.post-preview').html(data);
          MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
          Prism.highlightAll();
        }
      });
    }
  });
  
  // --- first show
  $('a[href="#post-code"]').tab('show');
  
  //--------
  // autogrow
  //--------
  $('#post_body_kd').autogrow({onInitialize: true});
  
  //--------
  // selectize
  //--------
  $('#post_status').selectize({
    create: true,
    sortField: 'text'
  });
  $('#post_category_id').selectize({
    create: true,
    sortField: 'text'
  });
  $('#post_tag_names').selectize({
    plugins: ['remove_button'],
    delimiter: ',',
    persist: false,
    create: true,
    options: <%= post.tag_selectize_options(Tag.to_selectize_options).to_json.html_safe %>
  });
  
  
  $('#post_gallery_id').selectize({
    create: true,
    sortField: 'name',
    valueField: 'id',
    labelField: 'name',
    searchField: ['name', 'description'],
    options: <%= (Gallery.to_selectize_options).to_json.html_safe %>,
    render:{
      item: function(item, escape){
        return '<span>' + escape(item.name) + '</span>'
      },
      option: function(item, escape) {
        var imgTag = item.thumb ? '<img src="' + escape(item.thumb) + '" alt=""/>' : '<div></div>';
        var thereAreText = "<%= t 'there_are_n_images_in_gallery' %>";
        return '<table class="selectize-post-gallery">' +
                  '<tr>' +
                    '<td rowspan="3" class="image">' + imgTag + '</td>' +
                    '<td class="title"><span>' + escape(item.name) + '</span></td>' +
                  '</tr>' +
                  '<tr>' +
                    '<td class="description"><span>' + escape(item.description) + '</span></td>' +
                  '</tr>' +
                  '<tr>' +
                    '<td class="number"><span>' + thereAreText.replace('%n_images%', escape(item.n_images)) + '</span></td>' +
                  '</tr>' +
                '</table>';
      }
    }
  });
});
</script>
