<%# PARAMS: post
%>
<%= form_for [:bo, post] do |f| %>
  <%= render 'bo/shared/errors', :target => post %>
  
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :status %>
    <%= f.select :status, Post.statuses_for_select %>
  </div>
  <div>
    <%= f.label :published_at %>
    <%= f.datetime_select :published_at %>
  </div>
  <div>
    <%= f.label :body_md %>
    <%= f.text_area :body_md %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>