<% content_for_header I18n.tmodel(Gallery), tview('gallery') %>

<div class="row action-buttons">
  <div class="col-md-7">
    <%= link_to I18n.tbtn('list_of_galleries'), bo_galleries_path, :class => 'btn btn-default' %>
  </div>
  <div class="col-md-5 align-right">
    <div class="btn-group">
      <%= link_to edit_bo_gallery_path(@gallery), :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
      <%= link_to bo_gallery_path(@gallery), :class => 'btn btn-danger', :confirm => I18n.tmsg('are_you_sure'), :method => :delete do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %> 
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt><%= I18n.tattr(Gallery, :name) %></dt>
      <dd><%= @gallery.name %></dd>
      <dt><%= I18n.tattr(Gallery, :description) %></dt>
      <dd><%= @gallery.description %></dd>
    </dl>
  </div>
</div>

<div id="images-row" class="row">
  <div class="col-md-12">
    <p><b><%= I18n.tattr(Gallery, :images) %></b></p>
    <ul id="gallery-image-sortable">
      <% for image in @gallery.images %>
        <li id="image_<%= image.id %>">
          <div class="gallery-image-list">
            <%= image_tag image.image.url(:thumb) %>
            <%= link_to bo_gallery_delete_image_path(@gallery, image, :page => params[:page]), :class => 'btn btn-danger btn-xs', :method => :delete do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<script>
var galleryImageSortable = {
  array: null,
}
$(document).ready(function(){
  $( "#gallery-image-sortable" ).sortable({
    placeholder: "ui-state-highlight",
    update: function(event, ui){
      var endArray = $(this).sortable('toArray');
      var itemId = ui.item.attr('id');
      var galleryID = <%= @gallery.id %>;
      var imageID = parseInt(itemId.split('_')[1]);
      var basePostURL = "<%= bo_ajax_gallery_image_pos_path('%gallery_id%', '%image_id%') %>";
      var postURL = basePostURL.replace('%gallery_id%', galleryID);
      postURL = postURL.replace('%image_id%', imageID);
      
      
      console.log(new Date, "The item " + itemId + " has updated to pos: ", endArray.indexOf(itemId));
      
      $('#images-row').addClass('disabled-row');
      $('#add-images-row').addClass('disabled-row');
      
      $.ajax({
        type: "POST",
        url: postURL,
        data: {
          pos: endArray.indexOf(itemId)+1
        },
        success: function(data, textStatus, jqXHR){
          if( data.status ){
            $('#images-row').removeClass('disabled-row');
            $('#add-images-row').removeClass('disabled-row');
          }else{
            alert('Error!')
          }
        }
      });
    }
  }); 
  $( "#gallery-image-sortable" ).disableSelection();
});
</script>

<div id="add-images-row" class="row">
  <div class="col-md-12">
    <p><b><%= tview 'add_images' %></b></p>
    <% for image in @images %>
      <div class="gallery-image-list">
        <%= image_tag image.image.url(:thumb) %>
        <% if @gallery.images.include? image %>
          <span class="label label-success">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </span>
          <%= link_to bo_gallery_delete_image_path(@gallery, image, :page => params[:page]), :class => 'btn btn-danger btn-xs', :method => :delete do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        <% else %>
          <%= link_to bo_gallery_add_image_path(@gallery, image, :page => params[:page]), :class => 'btn btn-default btn-xs', :method => :post do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= will_paginate @images %>
  </div>
</div>

