<h1><%= tview('list_of_tags') %></h1>
<%= link_to I18n.tbtn('add_new'), new_bo_tag_path %>
<ul>
  <% for tag in @tags %>
    <li><p>
      <%= tag.name %>, 
      <%= link_to I18n.tbtn('show'), bo_tag_path(tag) %>
      <%= link_to I18n.tbtn('edit'), edit_bo_tag_path(tag) %>,
      <%= link_to I18n.tbtn('destroy'), bo_tag_path(tag), :confirm => I18n.tmsg('are_you_sure'), :method => :delete %>
    </p></li>
  <% end %>
</ul>

<%= will_paginate @tags %>
