<%# PARAMS: post  => Post
%>

<div class="row post">
  <div class="col-md-12">
    <% unless post.featured_image.blank? %>
      <div class="row">
        <div class="col-md-12 post-image">
          <%= image_tag post.featured_image(:large), :class => 'img-responsive'%>
        </div>
      </div>
    <% end %>
    
    <div class="row">
      <div class="col-md-12 post-entry">
        <div class="row">
          <div class="col-sm-12 title">
            <h2 class="title"><%= post.title %></h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12">
            <p class="intro-text"><%= post.intro_text %></p>
          </div>
        </div>
        
        <hr />
        
        <div class="row">
          <div class="col-md-12 text">
            <%= post.body_html.html_safe %>
          </div>
        </div>
        
        <% unless post.gallery.blank? %>
          <div class="row gallery">
            <div class="col-md-12">
              <div class="row">
                <div class="gallery-title">
                  <div class="col-md-12">
                    <p class="icon-and-text"><span class="glyphicon glyphicon-picture icon"></span><span>Gallery</span></p>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-12">
                  <div class="jcarousel">
                    <ul class="magnific-gallery">
                      <% for image in post.gallery.images %>
                        <li>
                          <%= link_to image.image.url(:original), :title => image.name do %>
                            <%= image_tag image.image.url(:thumb) %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                    <a class="jcarousel-next button" href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    <a class="jcarousel-prev button" href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        
        <div class="row tags">
          <div class="col-md-12">
            <div class="row">
              <div class="tag-title">
                <div class="col-md-12">
                  <%= tag_icon_and_text post %>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="tag-links">
                <div class="col-md-12">
                  <%= tag_buttons post %>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row extra">
          <div class="col-md-2">
           <%= date_icon_and_text post %>
          </div>
          <div class="col-md-8">
            <%= category_icon_and_text post %>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.jcarousel').jcarousel();
    
    $('.jcarousel-prev').on('jcarouselcontrol:active', function() {
      $('.jcarousel-prev').show();
    });
    $('.jcarousel-prev').on('jcarouselcontrol:inactive', function() {
      $('.jcarousel-prev').hide();
    });
    $('.jcarousel-next').on('jcarouselcontrol:active', function() {
      $('.jcarousel-next').show();
    });
    $('.jcarousel-next').on('jcarouselcontrol:inactive', function() {
      $('.jcarousel-next').hide();
    });
    
    $('.jcarousel-prev').jcarouselControl({target: '-=2'});
    $('.jcarousel-next').jcarouselControl({target: '+=2'});
  });
</script>
