<%# PARAMS: post
%>

<div class="row post">
  <div class="col-md-12">
    <% unless post.featured_image.blank? %>
      <div class="row">
        <div class="col-md-12 post-image">
          <%= image_tag post.featured_image(:large), :class => 'img-responsive'%>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-12 post-entry">
        <h2>
          <%= link_to post.title, post_path(post) %>
        </h2>
        <div class="text">
          <%= post.body_html.html_safe %>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
        </div>
        
        <div class="row extra">
          <div class="col-md-2">
            <p>
              <span class="glyphicon glyphicon-calendar"></span>
              &nbsp;
              <%= l post.published_at, :format => :short_2 %>
            </p>
          </div>
          <% if post.category%>
            <div class="col-md-3">
              <p>
                <span class="glyphicon glyphicon-folder-open"></span>
                &nbsp;
                <%= link_to post.category.name, '#'%>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>