<header id="header">
  <div class="title">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 brand">
          <p><%= link_to 'Site', root_path %></p>
        </div>
        <div class="col-sm-6 col-md-6 quote">
          <div class="signed">
            <% if current_user %>
              <%= tview('signed_as', :email => current_user.email) %>
              <%= link_to I18n.tbtn('sign_out'), logout_path %>, 
              <%= link_to I18n.tbtn('backoffice'), bo_dashboard_path %>
            <% end %>
          </div>
          <p>Things about a not so young developer</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="menu">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= link_to I18n.tbtn('header.home'), root_path, :class => "#{active_by_controller_and_action StaticController, 'home'}" %>
          <%= link_to I18n.tbtn('header.blog'), blog_path, :class => "#{active_by_controllers PostsController}" %>
          <%= link_to I18n.tbtn('header.about'), about_path, :class => "#{active_by_controller_and_action StaticController, 'about'}" %>
          <%= link_to I18n.tbtn('header.search'), search_path, :class => "#{active_by_controller_and_action StaticController, 'search'}" %>
        </div>
      </div>
    </div>
  </div>
</header>