<header id="header">
  <div class="title">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="display-as-table">
            <div class="cell brand">
              <%= link_to 'Site', root_path %>
            </div>
            
            <div class="cell quote">
              <p><%= t('quote').html_safe %></p>
              <div class="signed">
                <% if current_user %>
                  <%= tview('signed_as', :email => current_user.email) %>
                  <%= link_to I18n.tbtn('sign_out'), logout_path %>, 
                  <%= link_to I18n.tbtn('backoffice'), bo_dashboard_path %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="menu">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="menu-button">
            <div class="menu-sep">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <nav>
            <ul class="flexnav" data-breakpoint="800">
              <li>
                <%= link_to I18n.tbtn('header.blog'), blog_path, :class => "#{active_by_controllers PostsController}" %>
              </li>
              <li>
                <%= link_to I18n.tbtn('header.search'), search_path, :class => "#{active_by_controller_and_action StaticController, 'search'}" %>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>