<!DOCTYPE html>
<html>
<head>
  <title>Site - BackOffice</title>
  <%= stylesheet_link_tag    "bo/application", :media => "all" %>
  <%= javascript_include_tag "bo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p><%= tview('notice') %>: <%= notice %></p>
<% end %>

<%= render 'shared/locale_links' %>

<%= render 'layouts/bo_header' %>

<hr />


<%= yield %>

</body>
</html>
