<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title>Site</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="gridlock">
  
<!-- header -->
<%= render 'layouts/header' %>

<!-- flash messsages -->
<%= render 'shared/flash_messages' %>

<!-- main content -->
<div class="container">
  <%= yield %>
</div>

</body>
</html>
